<div class="table-container">
  <h2>Liste des Centres</h2>

  <!-- Search Bar -->
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Rechercher un centre</mat-label>
    <input matInput [(ngModel)]="searchQuery" (input)="filterCentres()" placeholder="Rechercher un centre">
  </mat-form-field>

  <!-- Centers Table -->
  <table mat-table [dataSource]="dataSource" class="styled-table mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let center"> {{ center.nom }} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Adresse </th>
      <td mat-cell *matCellDef="let center"> {{ center.adresse }} </td>
    </ng-container>

    <!-- Postal Code Column -->
    <ng-container matColumnDef="postalCode">
      <th mat-header-cell *matHeaderCellDef> Code Postal </th>
      <td mat-cell *matCellDef="let center"> {{ center.codePostal }} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> Ville </th>
      <td mat-cell *matCellDef="let center"> {{ center.ville }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let center">
        <div class="action-buttons">
          <button mat-button class="modify-button" (click)="editCenter(center)" [disabled]="!getLoginService().hasRole('ROLE_SUPERADMIN')">Modifier</button>
          <button mat-button class="delete-button" (click)="deleteCenter(center)" [disabled]="!getLoginService().hasRole('ROLE_SUPERADMIN')">Supprimer</button>
        </div>
      </td>
    </ng-container>

    <!-- Table Header & Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Add Center Button -->
  <button mat-flat-button class="add-button" (click)="openAddCenterDialog()" [disabled]="!getLoginService().hasRole('ROLE_SUPERADMIN')">Ajouter un Centre</button>
</div>
