<div class="confirmation-container">
  <mat-card class="confirmation-card">
    <mat-card-title>✅ Votre rendez-vous a été confirmé !</mat-card-title>
    <mat-card-content class="confirmation-details">
      <p class="first-name"><strong>Prénom :</strong> {{ reservationDetails.prenom }}</p>
      <p class="last-name"><strong>Nom :</strong> {{ reservationDetails.nom }}</p>
      <p class="email"><strong>Email :</strong> {{ reservationDetails.email }}</p>
      <p class="date"><strong>Date :</strong> {{ reservationDetails.creneau.date }}</p>
      <p class="time"><strong>Heure :</strong> {{ reservationDetails.creneau.heure }}:{{ reservationDetails.creneau.minute !== 0 ? reservationDetails.creneau.minute : '00' }}</p>
    </mat-card-content>
    <button mat-flat-button (click)="makeNewReservation()" class="new-reservation-button">
      Nouvelle réservation
    </button>
  </mat-card>
</div>
