<div class="page">
    <h1>Trouver un centre de vaccination</h1>
  
    <!-- Champ de saisie pour la ville -->
    <mat-form-field class="barre-recherche">
      <mat-label>Rechercher un centre</mat-label>
      <input matInput
        type="text"
        [(ngModel)]="city"
        (input)="filterCenters()"
        placeholder="Entrez le nom d'une ville"

      />
    </mat-form-field>
    
  
    <!-- Liste des centres disponibles -->
    <div *ngIf="city && filteredCenters.length > 0; else noResults">
      <div *ngFor="let center of filteredCenters" class="center-card">
        <p><strong>{{ center.nom }}</strong></p>
        <p>{{ center.adresse }}
          <br>
        {{ center.codePostal }} {{ center.ville }}</p>
        <div>
            <button mat-flat-button (click)="chooseCenter(center)">Choisir</button>
          </div>
      </div>
    </div>
    
    <!-- Message si aucun centre n'est trouvé -->
    <ng-template #noResults>
      <p *ngIf="city">Aucun centre trouvé pour cette ville.</p>
    </ng-template>
</div>
  