//h1 {
//    text-align: center;
//    color: #2c3e50;
//    margin-bottom: 20px;
//    font-size: 45px;
//    margin-top: 100px;
//  }

//.page {
//  text-align: center;
//}

//.barre-recherche {
//  width: 40%;
//}
//.mat-form-field {
//  width: 100%;
//}

  // input[type='text'] {
  //   width: 40%;
  //   padding: 10px;
  //   font-size: 16px;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  //   margin-bottom: 10px;
  //   display: block;
  //   margin: 0 auto;
  // }
  .center-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin : auto;
    background-color: #f9f9f9;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 1%;
  }
  
  .center-card p {
    margin: 5px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end; 
  }
  
  // button {
  //   padding: 8px 15px;
  //   background-color: #3498db;
  //   color: white;
  //   border: none;
  //   border-radius: 5px;
  //   cursor: pointer;
  //   font-size: 14px;
  
  //   &:hover {
  //     background-color: #2980b9;
  //   }
  // }

  .admin-login {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 10; 
  
    button {
      padding: 10px 10px;
      background-color: #2c3e50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
  
      &:hover {
        background-color: #3a79a2;
      }
    }
    
    
  }
  
  
  