<div class="admin-login">
  <button (click)="goToLogin()">Espace Administrateur</button>
</div>

<div class="page">
  <h1>Trouver un centre de vaccination</h1>

  <mat-form-field class="search-bar" appearance="outline" style="width: 50%; max-width: 1000px;">
    <mat-label>Rechercher un centre</mat-label>
    <input matInput [(ngModel)]="city" (input)="filterCenters()">
  </mat-form-field>  

  <div *ngIf="filteredCenters.length > 0">
    <div *ngFor="let center of filteredCenters" class="center-card">
      <p><strong>{{ center.name }}</strong></p>
      <p>{{ center.address }}</p>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="chooseCenter(center)">Choisir</button>
      </div>
    </div>
  </div>


  <p *ngIf="searchPerformed && filteredCenters.length === 0" class="no-results">Aucun centre trouvé.</p>
</div>

