<div class="table-container">
    <h2>Mon Centre - Gestion des Médecins</h2>
  
    <!-- Search Bar -->
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Rechercher un médecin</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="filterDoctors()" placeholder="Nom ou email">
    </mat-form-field>
  
    <!-- Add Doctor Form -->
    <div class="add-doctor-form">
      <mat-form-field appearance="outline">
        <mat-label>Nom du médecin</mat-label>
        <input matInput [(ngModel)]="selectedDoctor.name">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="selectedDoctor.email" type="email">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Centre</mat-label>
        <mat-select [(ngModel)]="selectedDoctor.center">
          <mat-option *ngFor="let center of centers" [value]="center.name">
            {{ center.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button class="add-doctor-button" (click)="addDoctor()">Ajouter</button>
    </div>
  
    <!-- Doctors Table -->
    <table mat-table [dataSource]="filteredDoctors" class="styled-table mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let doctor"> {{ doctor.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let doctor"> {{ doctor.email }} </td>
      </ng-container>
  
      <ng-container matColumnDef="center">
        <th mat-header-cell *matHeaderCellDef> Centre </th>
        <td mat-cell *matCellDef="let doctor"> {{ doctor.center }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['name', 'email', 'center']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'center'];"></tr>
    </table>
  </div>
  