<div>
    <h1>Prise de rendez-vous vaccination</h1>
    <mat-card class="selected-center">
      <mat-card-title class="selected-center-title">Centre sélectionné</mat-card-title>
      <mat-card-content>
        <p><strong>Nom :</strong> {{ selectedCenter.nom }}</p>
        <p><strong>Adresse :</strong> {{ selectedCenter.adresse }}</p>
        <p><strong>Ville :</strong> {{ selectedCenter.ville }}</p>
      </mat-card-content>
        
    </mat-card>

    <form #form="ngForm" (ngSubmit)="submit(form)" class="appointment-form">
      <mat-card class="personnal-info">
        <mat-card-title class="personnal-info-title">Informations personnelles</mat-card-title>
        <mat-card-content>
          
              <mat-form-field class="input">
                <mat-label for="firstName">Prénom</mat-label>
                <input matInput
                  id="firstName" 
                  [(ngModel)]="newPatient.prenom" 
                  name="firstName" 
                  required 
                />
              </mat-form-field>
              <br>
              <mat-form-field class="input">
                <mat-label for="lastName">Nom</mat-label>
                <input matInput
                  id="lastName" 
                  [(ngModel)]="newPatient.nom" 
                  name="lastName" 
                  required 
                />
              </mat-form-field>
              <br>

              <mat-form-field class="input">
                <mat-label for="address">Adresse</mat-label>
                <input matInput
                  id="address" 
                  [(ngModel)]="newPatient.adresse" 
                  name="address" 
                  required 
                />
              </mat-form-field>
              <br>

              <mat-form-field class="input">
                <mat-label for="city">Ville</mat-label>
                <input matInput
                  id="city" 
                  [(ngModel)]="newPatient.ville" 
                  name="city" 
                  required 
                />
              </mat-form-field>
              <br>

              <mat-form-field class="input">
                <mat-label for="email">Email</mat-label>
                <input matInput
                  id="email" 
                  [(ngModel)]="newPatient.email" 
                  name="email" 
                  type="email"
                  required 
                />
              </mat-form-field>

              <mat-form-field class="input">
                <mat-label for="phone">Téléphone</mat-label>
                <input matInput
                  id="phone" 
                  [(ngModel)]="newPatient.telephone" 
                  name="phone" 
                  type="tel"
                  required 
                />
              </mat-form-field>
            
        </mat-card-content>
        </mat-card>

        <mat-card class="appointment-info">
          <mat-card-title class="appointment-info-title">Choix du créneau</mat-card-title>
          <mat-card-content>

            <mat-form-field class="input">
              <mat-label for="date">Date du rendez-vous</mat-label>
              <input matInput [matDatepicker]="picker"
                id="date" 
                [(ngModel)]="dateCreneau"
                (dateChange)="onDateChange(dateCreneau)"
                name="date"
                required 
              />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field class="input">
              <mat-label for="creneau">Créneau</mat-label>
              <mat-select [(ngModel)]="newPatient.creneau" name="creneau"> 
                  <mat-option *ngFor="let creneau of creneaux" [value]="creneau">Créneau de {{ creneau.heure }}:{{ creneau.minute !== 0 ? creneau.minute : '00' }}</mat-option>
              </mat-select>
              
            </mat-form-field>
            </mat-card-content>
            </mat-card>

      <div class="button-container">
        <button mat-flat-button color="primary" type="submit">Réserver</button>
        <button mat-flat-button color="warn" type="button" (click)="cancel()">Annuler</button>
      </div>
    </form>
  </div>
  