.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #023e8e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 27px !important;
    color: #27d208 !important;
    text-transform: uppercase;

  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #f9f9f9;
  }
  
  form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: white;
    color: #023e8e; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #ddd;
    }
  }
    .go-to-search {
      position: absolute;
      top: 20px; 
      right: 20px; 
    }
    
    .go-to-search button {
      padding: 10px 10px;
      font-size: 13px;
      font-weight: bold;
      background-color: #27d208;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      
      &:hover {
        background-color: #4bed2e;
      }
    }


  