.table-container {
  max-width: 80%;
  margin: 10px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 0px;
}

/* Search bar style */
.search-bar {
  width: 100%;
  max-width: 600px;
  margin-bottom: 5px;
  
}

/* Table Styling */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Header styling */
.styled-table th {
  background-color: #2c3e50;
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

/* Row styling */
.styled-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Alternating row color */
.styled-table tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Align action buttons */
.action-buttons {
  display: flex;
  gap: 15px; /* Adds space between buttons */
}

/* Button styles */
button {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* Modify button */
.modify-button {
  background-color: #2c3e50;
  color: white !important;
}

.modify-button:hover {
  background-color: #3a79a2;
}

/* Delete button */
.delete-button {
  background-color: #e74c3c;
  color: white !important;
}

.delete-button:hover {
  background-color: #c0392b;
}

/* Style pour les boutons Ajouter */
.add-button {
  display: block; /* Permet d'afficher le bouton en pleine ligne */
  margin: 10px auto 40px auto; /* Centre le bouton */
  //padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: green; 
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #3aa244; 
}
