<div class="table-container">
    <h2>Liste des créneaux</h2>
  
    <!-- Centers Table -->
    <table mat-table [dataSource]="filteredCenters" class="styled-table mat-elevation-z8">
      
      <!-- Name Column -->
      <ng-container matColumnDef="center">
        <th mat-header-cell *matHeaderCellDef> Centre </th>
        <td mat-cell *matCellDef="let timeslot"> {{ timeslot.center }} </td>
      </ng-container>
  
      <!-- Address Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let timeslot"> {{ timeslot.date }} </td>
      </ng-container>

       <!-- Time Column -->
       <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Heure </th>
        <td mat-cell *matCellDef="let timeslot"> {{ timeslot.heure }}:{{ timeslot.minute !== 0 ? timeslot.minute : '00' }} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let center">
          <div class="action-buttons">
            <button mat-button class="modify-button" (click)="editCenter(center)">Modifier</button>
            <button mat-button class="delete-button" (click)="deleteCenter(center)">Supprimer</button>
          </div>
        </td>
      </ng-container>
  
      <!-- Table Header & Rows -->
      <tr mat-header-row *matHeaderRowDef="['name', 'address', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'address', 'actions'];"></tr>
    </table>
  
    <!-- Add Center Button -->
    <button mat-flat-button class="add-button" (click)="addCenter()">Ajouter un Centre</button>
  </div>
  